.landingPage {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #4700cd,
    #3d06b1,
    #340996,
    #2b0a7c,
    #230a62,
    #1a0c54,
    #130d46,
    #0f0a38,
    #0b0a31,
    #080829,
    #050720,
    #020518
  );
}
