//DISPLAY FLEX
@mixin flex-config($dis, $direction, $corte, $just, $align) {
  display: $dis;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}

//GLASS EFFECT
@mixin background-glass() {
  background: rgba(255, 255, 255, 0.293);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
}
