body {
  font-family: $font-body;
  color: $color-white;
  font-size: $text-size-16;
}

.heading-primary {
  /*h1*/
  color: $color-white;
  font-family: $font-h1;
  font-size: $heading-size-32;
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: $font-h2;

  &-main {
    /*Events categories title*/
    font-family: inherit;
    font-size: $heading-size-28;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks categories title*/
    font-size: $heading-size-20;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: $font-h3;
  &-main {
    /*Drinks name*/
    font-family: inherit;
    font-size: $heading-size-24;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks price*/
    font-size: $heading-size-18;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}

.text-alternative {
  color: $color-white;
  font-family: $font-alternative;
  font-size: $text-size-16;
}
